<div class="prose prose-stone mx-auto">
  <% if user_signed_in? %>
    <%#= link_to "Profile", edit_user_registration_path %>
    <%= link_to "Edit Post", edit_blog_post_path(@blog_post) %>
      <%= link_to "Delete Post",
      blog_post_path(@blog_post),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"}
    %>
  <% end %>
  <div class="">
    <div class="min-w-fit rounded overflow-hidden shadow-lg">
      <%= image_tag @blog_post.cover_image, class:"w-full" if @blog_post.cover_image.present? %>
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2"><%= @blog_post.title %></div>
        <p class="text-gray-700 text-base">
          <%= @blog_post.content %>
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
      </div>
    </div>
    <%# BELOW ORIGINAL %>
    <%#= image_tag @blog_post.cover_image if @blog_post.cover_image.present? %>
    <h3><%#= @blog_post.title %></h3>
    <p><%#= @blog_post.content %></p>
  </div>
</div>
